@use "markdown/frame";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

body {
    font: 14px "Montserrat";
    line-height: 1.4em;
    color: #000;
    min-width: 230px;
    max-width: 100%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    background-color: #fff;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

header {
    //display: inline-block;
    font-weight: 700;
    font-size: 4rem;
    line-height: normal;
    margin-bottom: 10px;
}

blockquote {
    border-left: 10px rgb(60, 60, 60) solid;
    margin-left: 20px;
    padding: 5px 5px 5px 20px;

    background-color: rgba(0, 0, 0, 0.1);
}

li:has(input[type="checkbox"]) {
    list-style: none;
}
