@use "markdown/frame";

:root {
    --background-color: var(--arc-palette-background,#fff);
    --title-color: var(--arc-palette-title, #000);
    --subtitle-color: var(--arc-palette-subtitle, #000);
    --link-color: var(--arc-palette-maxContrastColor, #000);
    --text-color: var(--arc-palette-maxContrastColor, #000);
    --color-primary: var(--arc-palette-foregroundPrimary, #fff);
    --color-subtle:var(--arc-palette-foregroundSecondary, #000);
    --color-hover: var(--arc-palette-hover, rgba(0,0,0,0.1));

    --font-size: 14px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

body {
    font: var(--font-size) "Montserrat";
    line-height: 1.4em;
    background-color: var(--background-color);
    color: var(--text-color);
    min-width: 230px;
    max-width: 100%;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    small {
        color: var(--color-subtle)
    }
}

.header {
    //display: inline-block;
    font-weight: 700;
    font-size: 4rem;
    line-height: normal;
    margin-bottom: 10px;
}

.title {
    color: var(--title-color);
}

a {
    color: var(--link-color);
}

blockquote {
    border-left: 10px var(--title-color) solid;
    margin-left: 20px;
    padding: 10px 10px 10px 20px;
    background-color: var(--color-hover);
}

li:has(input[type="checkbox"]) {
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: scale-down;
}