@import "../scrollbar";

.markdown-frame {
    display: flex;
    position: fixed;

    width: 100%;
    height: 100%;

    .markdown-input {
        width: 50%;

        textarea {
            width: 100%;
            height: 100%;
            background-color: var(--background-color);
            color: var(--text-color);
            border: none;
            border-right: var(--arc-palette-focus, var(--color-subtle)) solid 1px;
            resize: none;
            font-size: var(--font-size1255);
            outline: none;

            &:focus-visible {
                outline: none;
            }

            @include scrollbars($foreground-color: var(--color-hover), $background-color: var(--background-extra-color));
        }
    }

    .markdown-output {
        width: 50%;
        height: 100%;
        margin-left: 1rem;

        overflow: scroll;
        overflow-x: auto;

        text-align: start;
        font-weight: 400;

        @include scrollbars($foreground-color: var(--color-hover), $background-color: var(--background-extra-color));
    }
}

@media print {
    .markdown-frame {
        position: relative;

        .markdown-input {
            display: none;
        }

        .markdown-output {
            width: 100%;
            overflow: revert;
        }
    }

    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }

    blockquote {
        page-break-inside: avoid;
    }
}